<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
    <title>Hello World!</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <script src="../js/notenews.js"></script>

</head>
<body>
<p>当前背景：<strong id="theme-source">System</strong></p>
<button id="darkmode">Toggle Dark mode</button>
<p id="output"></p>

<button onclick="note_news()">弹出通知框</button>

<!--<script src="../js/index.js"></script>-->
</body>
</html>