<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试第一页</title>
    <link href="../css/login.css" rel="stylesheet" type="text/css">
    <!--    <link href="../css/jquerytest.css" rel="stylesheet" type="text/css">-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <!--    <script src="../js/jquerytest.js"></script>-->

</head>
<body>
<!-- autoplay muted loop -->
<div id="background" src="../resourse/img/宵宫.png"></div>
<div class="main">
    <div class="top"></div>
    <div class="bottom">
        <input class="right_input" id="userid" placeholder="账号" type="text"/>
        <input class="right_input" id="pas" placeholder="密码" type="text"/>
        <div class="right_inputtingButton">登录</div>
    </div>
</div>

<script src="../js/login.js"></script>
</body>
</html>
