<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/jQuery-3.6.3.js"></script>
    <script src="../js/main-Event.js"></script>
    <script src="../js/main-Animate.js"></script>
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>
<div class="menu menuClosed">
    <div class="menu-btn-top">
        <div class="btn-menu">
            <img alt="menu" draggable="false" src="../resource/img/icon/menu.svg">
            <p>菜单</p>
        </div>
        <div class="btn-item" id="openPersonalInfo">
            <img alt="" draggable="false" src="../resource/img/icon/user.svg">
            <p>个人信息</p>
        </div>
        <div class="btn-item active">
            <img alt="" draggable="false" src="../resource/img/icon/home.svg">
            <p>新闻主页</p>
        </div>
        <div class="btn-item">
            <img alt="" draggable="false" src="../resource/img/icon/folder.svg">
            <p>文件信息</p>
        </div>
    </div>
    <div class="menu-btn-bottom">
        <div class="btn-item">
            <img alt="" draggable="false" src="../resource/img/icon/setting.svg">
            <p>高级设置</p>
        </div>
        <div class="btn-item">
            <img alt="" draggable="false" src="../resource/img/icon/adjust.svg">
            <p>基础设置</p>
        </div>

    </div>
</div>
<div class="main">
    <div class="main-content-top">
        <div class="main-content ">aaaaa</div>
        <div class="main-content active">
            <iframe src="https://www.bilibili.com/"></iframe>
        </div>
        <div class="main-content ">
            文件页
        </div>
    </div>
    <div class="main-content-bottom">
        <div class="main-content " id="openSetting"></div>
        <div class="main-content " id="openHighSetting"></div>
    </div>
</div>


</body>

</html>