<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta content="default-src 'self'; script-src 'self'" http-equiv="Content-Security-Policy">
    <title>Hello World!</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<p>当前背景：<strong id="theme-source">System</strong></p>
<button id="darkmode">Toggle Dark mode</button>
<p id="output"></p>
<script src="../js/index.js"></script>
</body>
</html>